.datepicker {
  display: grid;
  grid-template-areas: "header" "days-of-week" "days"; }
  .datepicker .datepicker-header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: "prev header next";
    justify-items: stretch;
    align-items: center;
    font-weight: bold;
    border-top: 1px solid #dee2e6; }
    .datepicker .datepicker-header > * {
      text-align: center;
      border-radius: 0.25rem;
      padding: 0.1rem; }
      .datepicker .datepicker-header > *:hover {
        background: #e9ecef;
        cursor: pointer; }
    .datepicker .datepicker-header .prev {
      grid-area: prev; }
    .datepicker .datepicker-header .month-year, .datepicker .datepicker-header .year {
      grid-area: header; }
    .datepicker .datepicker-header .next {
      grid-area: next; }
    .datepicker .datepicker-header .prev, .datepicker .datepicker-header .next {
      user-select: none; }
  .datepicker .datepicker-days-of-week {
    grid-area: days-of-week;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: stretch;
    align-items: center;
    font-weight: bold;
    border-top: 2px solid #dee2e6;
    border-bottom: 1px solid #dee2e6; }
    .datepicker .datepicker-days-of-week .dow {
      text-align: center; }
      .datepicker .datepicker-days-of-week .dow.disabled {
        background: none;
        color: #6c757d;
        cursor: not-allowed; }
  .datepicker .days {
    grid-area: days;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
    justify-items: stretch;
    align-items: center; }
    .datepicker .days .day-wrapper {
      border-top: 1px solid #dee2e6; }
    .datepicker .days .day {
      border-radius: 0.25rem;
      text-align: center;
      padding: 0.3rem; }
      .datepicker .days .day:hover {
        background-color: #e9ecef;
        cursor: pointer; }
      .datepicker .days .day.old, .datepicker .days .day.new {
        color: #6c757d; }
      .datepicker .days .day.active {
        background-color: #007bff;
        color: white; }
      .datepicker .days .day.today {
        position: relative; }
        .datepicker .days .day.today:before {
          content: '';
          display: inline-block;
          border: solid transparent;
          border-width: 0 0 7px 7px;
          border-bottom-color: #007bff;
          border-top-color: rgba(0, 0, 0, 0.2);
          position: absolute;
          bottom: 4px;
          right: 4px; }
      .datepicker .days .day.active.today:before {
        border-bottom-color: #fff; }
      .datepicker .days .day.disabled {
        background: none;
        color: #6c757d;
        cursor: not-allowed; }
  .datepicker .months {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    justify-items: stretch;
    align-items: center; }
    .datepicker .months .month {
      border-radius: 0.25rem;
      text-align: center;
      padding: 1rem 0.3rem; }
      .datepicker .months .month:hover {
        background-color: #e9ecef;
        cursor: pointer; }
      .datepicker .months .month.active {
        background-color: #007bff;
        color: white; }

