@inherits LayoutComponentBase

<div class="sidebar">
	<NavMenu />
</div>

<div class="main">
	<div class="top-row px-4">
		<a href="https://github.com/nheath99/BlazorNodaTimeDateTimePicker" target="_blank" class="ml-md-auto text-dark">
			<span class="fab fa-2x fa-github"></span>
		</a>
	</div>

	<div class="content px-4">
		@Body
	</div>
</div>
