.datetimepicker {
  display: flex;
  margin-bottom: 10px; }
  .datetimepicker button {
    border: none;
    background-color: transparent; }
  .datetimepicker.datetimepicker-dropdown-menu {
    position: absolute;
    z-index: 1000;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    margin: 2px 0;
    padding: 4px; }
    .datetimepicker.datetimepicker-dropdown-menu:before {
      content: '';
      display: inline-block;
      position: absolute;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      top: -7px;
      left: 7px; }
    .datetimepicker.datetimepicker-dropdown-menu:after {
      content: '';
      display: inline-block;
      position: absolute;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid white;
      top: -6px;
      left: 8px; }

.datetimepicker-content {
  display: grid;
  grid-template-areas: "header" "days-of-week" "days" "footer"; }
  .datetimepicker-content .datetimepicker-header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: "prev header next";
    justify-items: stretch;
    align-items: center;
    font-weight: bold;
    border-top: 1px solid #dee2e6; }
    .datetimepicker-content .datetimepicker-header > .next, .datetimepicker-content .datetimepicker-header > .prev, .datetimepicker-content .datetimepicker-header > .header-text {
      text-align: center;
      border-radius: 0.25rem;
      padding: 0.1rem; }
      .datetimepicker-content .datetimepicker-header > .next:hover:not(.disabled):not(.active):not(.header-text-no-action), .datetimepicker-content .datetimepicker-header > .prev:hover:not(.disabled):not(.active):not(.header-text-no-action), .datetimepicker-content .datetimepicker-header > .header-text:hover:not(.disabled):not(.active):not(.header-text-no-action) {
        background: #e9ecef;
        cursor: pointer; }
  .datetimepicker-content .disabled {
    background: none;
    color: #6c757d;
    cursor: not-allowed; }
  .datetimepicker-content .datetimepicker-footer {
    grid-area: footer;
    margin-top: 2px;
    display: flex;
    justify-content: space-around; }
    .datetimepicker-content .datetimepicker-footer > button {
      flex-grow: 1;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      padding: 0.22rem;
      background-color: white; }
      .datetimepicker-content .datetimepicker-footer > button:not(:last-of-type) {
        margin-right: 10px; }
      .datetimepicker-content .datetimepicker-footer > button:hover:not(.disabled) {
        background-color: #e9ecef;
        cursor: pointer; }
