@page "/"
@using NodaTime;

<h1>Hello, world!</h1>

Welcome to your new app.

<div style="width: 250px;">
	<DatePicker Inline=true Changed=changed1 />
</div>

<p>
	The selected date is: @selectedDate1
</p>

<input type="text" onfocus="@focussed" />
<DatePicker Visible="datePicker2Visible" Selected="selected2" Width="250px" />

<p>This is the text below.</p>
<p>
	@selectedDate2
</p>

@functions {
	LocalDate? selectedDate1;
	void changed1(LocalDate? localDate)
	{
		Console.WriteLine("changed1");
		selectedDate1 = localDate;

		StateHasChanged();
	}

	void selected1(LocalDate localDate)
	{
		Console.WriteLine("selected1");
		selectedDate1 = localDate;

		StateHasChanged();
	}

	void cleared1()
	{
		Console.WriteLine("cleared1");
		selectedDate1 = null;
		StateHasChanged();
	}

	LocalDate? selectedDate2;

	bool datePicker2Visible = false;
	void focussed(UIFocusEventArgs e)
	{
		datePicker2Visible = true;
	}

	void selected2(LocalDate localDate)
	{
		selectedDate2 = localDate;
		datePicker2Visible = false;

		StateHasChanged();
	}
}