@page "/time-picker"
@inherits ComponentBase
@using NodaTime;

<h3>Blazor NodaTime Time Picker</h3>

<hr />
<h3>Inline</h3>

<div class="d-flex flex-sm-row flex-column">
	<div class="mr-3 order-1 order-sm-0">
		<TimePicker Inline=true SelectedTimeChanged=changed1 />
	</div>
	<div class="order-0 order-sm-1">
		Selected Time: <span>@selectedTime1.ToString("hh:mm:ss tt", null)</span>
	</div>
</div>

<pre>
<code class="html">
	@demoString1
</code>
</pre>
<hr />

<h3>Bound to Input</h3>

<p>
	Focus on the Input element to display the DatePicker.<br />
	Select a Date to close the DatePicker.
</p>

<input type="text" onfocus=@focussed4 value=@selectedTime4 class="form-control mb-2" />
<TimePicker Visible=visible4 SelectedTimeChanged=@changed4 ShowClose=true CloseOnSelect=true />

<pre>
<code class="html">
	@demoString4
</code>
</pre>

<hr />
<h3>24-hour</h3>
<p>The default mode is 12 hour. Changing to 24-hour disables the AM/PM toggle.</p>
<div class="d-flex flex-sm-row flex-column">
	<div class="mr-3 order-1 order-sm-0">
		<TimePicker Inline=true Is24Hour=true SelectedTimeChanged=changed2 />
	</div>
	<div class="order-0 order-sm-1">
		Selected Time: <span>@selectedTime2</span>
	</div>
</div>

<pre>
<code class="html">
	@demoString2
</code>
</pre>
<hr />

<h3>Minute Step</h3>
<p>The default minute increment step is 5 miniutes.</p>

<div class="d-flex flex-sm-row flex-column">
	<div class="mr-3 order-1 order-sm-0">
		<TimePicker Inline=true MinuteStep=15 SelectedTimeChanged=changed3 />
	</div>
	<div class="order-0 order-sm-1">
		Selected Time: <span>@selectedTime3.ToString("hh:mm:ss tt", null)</span>
	</div>
</div>

<pre>
<code class="html">
	@demoString3
</code>
</pre>
<hr />

@functions {
	LocalTime selectedTime1;
	string demoString1 = "<TimePicker Inline=true />";

	void changed1(LocalTime localTime)
	{
		selectedTime1 = localTime;
		StateHasChanged();
	}

	LocalTime selectedTime2;
	string demoString2 = "<TimePicker Inline=true Is24Hour=true />";

	void changed2(LocalTime localTime)
	{
		selectedTime2 = localTime;
		StateHasChanged();
	}

	LocalTime selectedTime3;
	string demoString3 = "<TimePicker Inline=true MinuteStep=15 />";

	void changed3(LocalTime localTime)
	{
		selectedTime3 = localTime;
		StateHasChanged();
	}

	bool visible4 = false;
	LocalTime selectedTime4 = new LocalTime();
	void focussed4()
	{
		visible4 = true;
	}

	void changed4(LocalTime localTime)
	{
		selectedTime4 = localTime;
		StateHasChanged();
	}
	string demoString4 = @"<input type=""text"" onfocus=@focussed4 value=@selectedTime4 />
<TimePicker Visible=visible4 SelectedTimeChanged=@changed4 ShowClose=true CloseOnSelect=true />

@functions {
bool visible4 = false;
LocalTime selectedTime4;
void focussed4()
{
visible4 = true;
}
void changed4(LocalTime time)
{
selectedTime4 = time;
StateHasChanged();
}
}";
}