<Router AppAssembly=typeof(Program).Assembly>
	<Found Context="routeData">
		<RouteView RouteData="routeData" DefaultLayout="typeof(Shared.MainLayout)"></RouteView>
	</Found>
	<NotFound>
		<h1>Page not found</h1>
		<p>sorry, but there's nothing here!</p>
	</NotFound>
</Router>
